In [8]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,VotingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from statistics import median, mode, variance
from pprint import pprint

In [2]:
df = pd.read_csv("../../../../DataSets/DelayedFlights.csv")
df_clear = df.dropna(how='any',axis=0)
df_clear.isna().sum()

Unnamed: 0           0
Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [3]:
columns_to_drop = ["Unnamed: 0","Cancelled","CancellationCode","Diverted","UniqueCarrier","TailNum"]
for value in columns_to_drop:
    if value in  df_clear.columns:
        df_clear.drop(columns_to_drop, axis=1, inplace= True);


df_clear= df_clear[df_clear['Origin']=='SEA']
df_clear.head()

C:\Users\sunil\AppData\Local\Temp/ipykernel_16640/2790678760.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clear.drop(columns_to_drop, axis=1, inplace= True);

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1324,2008,1,3,4,1457.0,1405,1849.0,1750,972,172.0,...,SEA,ABQ,1180,6.0,15.0,24.0,0.0,7.0,0.0,28.0
1326,2008,1,3,4,1325.0,1255,1553.0,1510,318,88.0,...,SEA,BOI,399,2.0,25.0,11.0,0.0,13.0,0.0,19.0
1329,2008,1,3,4,2022.0,1925,2355.0,2300,1158,153.0,...,SEA,DEN,1024,7.0,18.0,0.0,0.0,0.0,0.0,55.0
1332,2008,1,3,4,2045.0,2010,2140.0,2105,775,55.0,...,SEA,GEG,224,5.0,15.0,0.0,0.0,4.0,0.0,31.0
1333,2008,1,3,4,1753.0,1640,1844.0,1735,1682,51.0,...,SEA,GEG,224,3.0,12.0,0.0,0.0,0.0,0.0,69.0

In [4]:
df_clear = pd.get_dummies(df_clear, columns=["Origin", "Dest"], drop_first=True)
df_clear.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Dest_RNO,Dest_SAN,Dest_SFO,Dest_SIT,Dest_SJC,Dest_SLC,Dest_SMF,Dest_SNA,Dest_STL,Dest_TUS
1324,2008,1,3,4,1457.0,1405,1849.0,1750,972,172.0,...,0,0,0,0,0,0,0,0,0,0
1326,2008,1,3,4,1325.0,1255,1553.0,1510,318,88.0,...,0,0,0,0,0,0,0,0,0,0
1329,2008,1,3,4,2022.0,1925,2355.0,2300,1158,153.0,...,0,0,0,0,0,0,0,0,0,0
1332,2008,1,3,4,2045.0,2010,2140.0,2105,775,55.0,...,0,0,0,0,0,0,0,0,0,0
1333,2008,1,3,4,1753.0,1640,1844.0,1735,1682,51.0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
X = df_clear.drop("ArrDelay", axis=1)
y = df_clear["ArrDelay"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [9]:
models = {}
models["DTR"] = DecisionTreeRegressor()
models["RR"] = RandomForestRegressor()
models["LR"] = LinearRegression()
models["RFR"] = RandomForestRegressor()
models["GBR"] = GradientBoostingRegressor()

In [10]:
model_acc = {}
for key in models:
        for i in range(1):
                model_r = models[key]
                dt = model_r.fit(X_train,y_train) # fit the model
                a = model_r.score(X_test,y_test) # compute accuracy
        model_acc[key] = a
print(model_acc)

{'DTR': 0.9444275586895298, 'RR': 0.9546090482167392, 'LR': 0.9999999791939272, 'RFR': 0.9544911226731991, 'GBR': 0.9561996463358623}