Question 3

Use dataset available on http://users.stat.ufl.edu/~winner/data/nfl2008_fga.csv

* Use LDA to classify the dataset into few classes so that at least 90% of information of dataset is explained through new classification. (Hint: model the variable “qtr” to variables “togo”, “kicker”, and “ydline”). How many LDs do you choose? Explain the reason.
* Apply PCA, and identify the important principle components involving at least 90% of dataset variation. Explain your decision strategy?  Plot principle components versus their variance.

In [36]:
import pandas as pd
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [37]:
df = pd.read_csv("nfl2008_fga.csv")
df.head()

,GameDate,AwayTeam,HomeTeam,qtr,min,sec,kickteam,def,down,togo,...,distance,homekick,kickdiff,timerem,offscore,defscore,season,GOOD,Missed,Blocked
0,20081130,IND,CLE,1,47,2,IND,CLE,4.0,11.0,...,30,0,-3,2822,0,3,2008,1,0,0
1,20081005,IND,HOU,1,54,47,IND,HOU,4.0,3.0,...,46,0,0,3287,0,0,2008,1,0,0
2,20081228,TEN,IND,1,45,20,IND,TEN,4.0,3.0,...,28,1,7,2720,7,0,2008,1,0,0
3,20081012,BAL,IND,1,45,42,IND,BAL,4.0,1.0,...,37,1,14,2742,14,0,2008,1,0,0
4,20080907,CHI,IND,1,50,56,IND,CHI,4.0,21.0,...,39,1,0,3056,0,0,2008,1,0,0

In [38]:
df.dropna(inplace=True)

In [39]:
df = pd.get_dummies(df, columns=["AwayTeam","HomeTeam","kickteam","def","name"],drop_first=True)

In [40]:
len(df.columns)

180

Selecting the number of LDA's
* Number of classes - 1 = 2 - 1 = 1
* Number of input variables = 23 
* Number of LDA's = min(1,23) = 1

In [41]:
X = df.drop(["GOOD"], axis=1)
y = df["GOOD"]

In [42]:
lda = LinearDiscriminantAnalysis()
X_lda_data = lda.fit_transform(X, y)
df = pd.DataFrame(X_lda_data, columns=["C1"])
df.head()

         C1
0 -1.104311
1 -1.182350
2 -0.355207
3  1.107690
4  0.153718

In [43]:
clfs = {
    "RF" : RandomForestClassifier(),
    "DT" : DecisionTreeClassifier(),
    "SVC" : SVC(probability=True, kernel='linear'),
    "GNB" : GaussianNB(),
    "LR" : LogisticRegression()
}

In [44]:
lda_var_ratios = lda.explained_variance_ratio_

https://chrisalbon.com/code/machine_learning/feature_engineering/select_best_number_of_components_in_lda/

In [ ]:
# Create a function
def select_n_components(var_ratio, goal_var: float) -> int:
    # Set initial variance explained so far
    total_variance = 0.0
    
    # Set initial number of features
    n_components = 0
    
    # For the explained variance of each feature:
    for explained_variance in var_ratio:
        
        # Add the explained variance to the total
        total_variance += explained_variance
        
        # Add one to the number of components
        n_components += 1
        
        # If we reach our goal level of explained variance
        if total_variance >= goal_var:
            # End the loop
            break
            
    # Return the number of components
    return n_components

In [46]:

select_n_components(lda_var_ratios, 0.95)

1