In [1]:
import pandas as pd

In [22]:
df_dict = pd.read_excel("BLOG GENDER BALANCED.xlsx", sheet_name=None)

c:\Users\sunil\.conda\envs\dbsenv\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [23]:
df = df_dict["Retrieve BLOG-GENDER-BALANCED"]
df.head()

                                                BLOG GENDER
0   Beyond Getting There: What Travel Days Show U...      F
1  I remember so much about the island; the large...      F
2  I have had asthma and allergies my entire life...      M
3  The last few days have been an emotional rolle...      M
4  If you lined up all the teachers and staff in ...      F

                                                BLOG GENDER
0   Beyond Getting There: What Travel Days Show U...      F
1  I remember so much about the island; the large...      F
2  I have had asthma and allergies my entire life...      M
3  The last few days have been an emotional rolle...      M
4  If you lined up all the teachers and staff in ...      F