# CA_1
## Sunil Gauda/ Kenneth Dsilva/ Abhijeet
### Data Set : https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows

In [9]:
import pandas as pd

In [10]:
data = pd.read_csv("DataSet/IMDB_DataSet/imdb_top_1000.csv")
data.isna().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [20]:
columns_to_drop = ['Certificate','Meta_score','Gross','Runtime','Poster_Link','Released_Year','Overview','No_of_Votes']
for value in columns_to_drop:
    if value in  data.columns:
        data.drop(columns_to_drop, axis=1, inplace= True)
data.head()

,Series_Title,Genre,IMDB_Rating,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
1,The Godfather,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
2,The Dark Knight,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine
3,The Godfather: Part II,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton
4,12 Angry Men,"Crime, Drama",9.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler

In [12]:
data.to_csv("DataSet/IMDB_DataSet/Cleared_Data.csv")